<div class="container-fluid">
	<div class="list-group cities-list">
  
  <form name="myForm" class="form-inline col-md-12">
  
  <div mass-autocomplete class="col-md-12">
    <label >Select city: </label><br>
      <input name="chooseCity" ng-model="dirty.value" ng-pattern="/^[a-zA-Z]*$/" mass-autocomplete-item="autocomplete_options" placeholder="City name">
    
    <p ng-show="myForm.chooseCity.$invalid">Only English</p>
    <div class="ac-container" ng-show="show_autocomplete && resCities.length" style="position:absolute;">
        <ul class="list-group ac-menu">
          <li ng-repeat="result in resCities"
            ng-if="$index > 0"
            class="ac-menu-item list-group-item list-group-item-info"
            ng-class="$index == selected_index ? 'ac-state-focus' : ''">
            <a href ng-click="apply_selection($index, $event)" ng-bind-html=result.label> </a>
          </li>
        </ul>
    </div>
  </div>
  
  </form>
  <details-component></details-component>
  </div>
</div>
