<div class="container-fluid">
	<div class="list-group cities-list">
  
  <form class="form-inline col-md-12">
    <label >Select country:</label>
    <select class="form-control" id="selectCountry" ng-model="model.currentCountry">
      <option value="{{ someObj.country }}" ng-repeat="someObj in model.arrOfObj | unique:'country' ">{{ someObj.country }}</option>
    </select>
  </form>

  <div mass-autocomplete class="col-md-12">
    <input ng-model="dirty.value" mass-autocomplete-item="autocomplete_options">
    <div class="ac-container" ng-show="show_autocomplete && resCities.length" style="position:absolute;">
        <ul class="list-group ac-menu">
          <li ng-repeat="result in resCities"
            ng-if="$index > 0"
            class="ac-menu-item list-group-item list-group-item-info"
            ng-class="$index == selected_index ? 'ac-state-focus' : ''">
            <a href ng-click="apply_selection($index, $event)" ng-bind-html=result.label> </a>
          </li>
        </ul>
    </div>
  </div>
  <button ng-click="model.gpsCity()">Your weather</button>
  <br>
  <!-- <h3>{{ model.currentCountry }}</h3> -->
  </div>
  <!-- <additional-data></additional-data> -->
</div>