<diagram></diagram>
<div class="row">
  <div class="col-md-12">
    <ul class="list-inline">
      <label class="radio-inline">
        <input type="radio" name="optradio" value="bar" ng-model="radio">Bar</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="line" ng-model="radio">Line</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="horizontalBar" ng-model="radio">Horizontal Bar</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="radar" ng-model="radio">Radar</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="polarArea" ng-model="radio">Polar Area</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="pie" ng-model="radio">Pie</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="doughnut" ng-model="radio">Doughnut</label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="bubble" ng-model="radio">Bubble</label>
    </ul>
  </div>
</div>
<info-window respdata="model.respData"></info-window>
<div class="row">
  <div class="col-md-12">
    <h3>Additional Data for {{::model.cityName }} </h3>
  </div>
  <div class="col-md-4">
    <ul class="list-group orange">
    <h4 class="list-heading text-uppercase" data-ng-bind="model.weatherCond"></h4>
      <li class="list-group-item nopadding" ng-repeat="datum in model.arrOfObj">
        <div class="row weatherList">
          <div class="col-xs-6"><h4 data-ng-bind="datum.dt | date: 'MMM d,  HH:mm'"></h4></div>
        <div class="col-xs-6"><h4 data-ng-bind="datum.weather[0].description"></h4></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group green">
    <h4 class="list-heading text-uppercase" data-ng-bind="model.humidity"></h4>
      <li class="list-group-item nopadding" ng-repeat="datum in model.arrOfObj">
        <div class="row weatherList">
          <div class="col-xs-7"><h4 data-ng-bind="datum.dt | date: 'MMM d,  HH:mm'"></h4></div>
          <div class="col-xs-5"><h4 class="col-xs-5" data-ng-bind="(datum.main.humidity + '%')"></h4></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group violet">
      <h4 class="list-heading text-uppercase" data-ng-bind="model.windSpeed"></h4>
      <li class="list-group-item nopadding" ng-repeat="datum in model.arrOfObj" >
        <div class="row weatherList">
          <div class="col-xs-7"><h4 data-ng-bind="datum.dt | date: 'MMM d,  HH:mm'"></h4></div>
          <div class="col-xs-5"><h4 data-ng-bind="(datum.wind.speed+' m/s')"></h4></div>
        </div>
      </li>
    </ul>
  </div>
</div>
