body {
  padding: 20px;
}
.center {
    margin: auto;
    width: 50%;
    border: 2px solid green;
    padding: 10px;
}
.info-window {
	height: 300px;
	border: 2px solid green;
  padding: 10px;
  width: 50%;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
  
}

.page-loading{
	margin: auto;
	width: 200px;
	height:200px;
	background-image: url("/spinner2.gif");
}
