body {
  padding: 20px;
}
.center {
    margin: auto;
    width: 50%;
    border: 2px solid green;
    padding: 10px;
}
.info-window {
	height: 300px;
	border: 2px solid green;
  padding: 10px;
  width: 50%;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
  
}
.page-loading{
	margin: auto;
	width: 200px;
	height:200px;
	background-image: url("/spinner2.gif");
}
li {
  opacity: 1;
}
li.ng-enter {
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 0;
}
li.ng-enter-active {
  opacity: 1;	
}
.css-form input.ng-invalid.ng-touched {
  border-color: red;
}
.css-form input.ng-valid.ng-touched {
  background-color: blue;
}
input.ng-invalid-pattern {
  border:2px solid #f00;
}