<div class="container-fluid">
	<div class="list-group">
  
  <form class="form-inline col-md-12">
    <label >Select country:</label>
    <select class="form-control" id="selectCountry" ng-model="model.currentCountry">
      <option value="{{ someObj.country }}" ng-repeat="someObj in model.arrOfObj | unique:'country' ">{{ someObj.country }}</option>
    </select>

    <!-- collection | unique: 'property' -->
  </form>
  <h3>{{ model.currentCountry }}</h3>
  </div>
  <ul>
  	<li class="list-group-item" ng-repeat="someObj in model.arrOfObj | filter:{country: model.currentCountry} ">
  		<a href="#details/{{ someObj._id }}">{{ someObj.country  }} {{ someObj.name }} </a> 
  	</li>
  </ul>
</div>