<!doctype html>
<html lang="en" ng-app="weatherApp">
<head>
  <meta charset="utf-8">
  <title>Weather Forecast</title>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <!-- <script src="additional_data.component.js"></script> -->

  
</head>
<body ng-controller="WeatherController">
  <div class="container-fluid">
    <header class="navbar-default navbar-fixed-top">
      <h6>Weather Forecast</h6>
    </header>
    <div class="container">

      <div class="row">
        <form class="form-inline col-md-12">
          <label >Select city:</label>
          <select class="form-control" id="selectCity">
            <option value="Kyiv">Kyiv</option>
            <option value="Odesa">Odesa</option>
            <option value="Lviv">Lviv</option>
          </select>
        </form>
        <div class="col-md-12">
          <h3>Temperature</h3>
        </div>
        <!-- diagram -->
        
          <div class="col-md-12">
            <canvas id="myChart" ></canvas>
          </div>
        <!-- diagram -->
        
      </div>
       
      <div class="row">
        <div class="col-md-12">
          <h3>Additional Data</h3>
        </div>
        <div class="col-md-4">
          <ul class="list-group orange">
          <h4 class="list-heading text-uppercase">weather conditions</h4>
            <li class="list-group-item nopadding" ng-repeat="datum in Data">
              <div class="row weatherList">
                <div class="col-xs-7"><h4>{{ datum.dt | date: 'MMM d,  hh:mm' }}</h4></div>
              <div class="col-xs-5"><h4>{{ datum.weather[0].main }}</h4></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-group green">
          <h4 class="list-heading text-uppercase">humidity</h4>
            <li class="list-group-item nopadding" ng-repeat="datum in Data">
              <div class="row weatherList">
                <div class="col-xs-7"><h4>{{ datum.dt | date: 'MMM d,  hh:mm' }}</h4></div>
                <div class="col-xs-5"><h4>{{ datum.main.humidity }}%</h4></div>
              </div>
            </li>
          </ul>
        </div>
      <div class="col-md-4">
          <ul class="list-group violet">
            <h4 class="list-heading text-uppercase">wind speed</h4>
            <li class="list-group-item nopadding" ng-repeat="datum in Data" >
              <div class="row weatherList">
                <div class="col-xs-7"><h4>{{ datum.dt | date: 'MMM d,  hh:mm' }}</h4></div>
                <div class="col-xs-5"><h4>{{ datum.wind.speed }} m/s</h4></div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
<script src="scripts.js"></script>
</body>
</html>



